In [1]:
import numpy as np  # For matrix operations and numerical processing
import pandas as pd  # For munging tabular data
import sklearn as sk  # For access to a variety of machine learning models
import matplotlib.pyplot as plt  # For charts and visualizations
from time import gmtime, strftime  # For labeling SageMaker models, endpoints, etc.
import sys  # For writing outputs to notebook

In [11]:
def first_look(df):
    """Display basic information about the dataframe"""
    
    display(df.info())
    display(df.head(5))
    display(df.describe(include='all'))
    display('Доля пустых строк:', df.isna().mean()>0)
    display('Количество дублирующихся строк:', df.duplicated().sum())

In [3]:
RANDOM_SEED = 42
np.random.seed(RANDOM_SEED)

In [6]:
train = pd.read_csv("train_dataset_hackathon_mkb.csv",encoding='cp1251', sep=';')

In [12]:
first_look(train)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17891 entries, 0 to 17890
Columns: 124 entries, id_contract to CITIZENSHIP_NAME
dtypes: float64(108), int64(4), object(12)
memory usage: 16.9+ MB

None

,id_contract,id_client,SIGN_DATE,IP_flag,TARGET,F1100,F1110,F1150,F1160,F1170,...,WINNERNUMBER_95_EVER,SIGNEDNUMBER_95_EVER,SUM_95_EVER,FLAG_DISQUALIFICATION,COUNT_CHANGE_YEAR,COUNT_CHANGE_EVER,BIRTHDATE,AGE,SEX_NAME,CITIZENSHIP_NAME
0,1,1847,01JAN2018:00:00:00,0,0,1.298961e+09,2154000.0,1.125573e+09,NaN,150010000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,4650,01JAN2018:00:00:00,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,4770,01JAN2018:00:00:00,0,0,7.337400e+07,NaN,7.337400e+07,NaN,NaN,...,169.0,168.0,18351739.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN
3,4,12237,01JAN2018:00:00:00,0,0,1.937488e+09,122828000.0,6.103280e+08,NaN,809426000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,9988,01JAN2018:00:00:00,1,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,id_contract,id_client,SIGN_DATE,IP_flag,TARGET,F1100,F1110,F1150,F1160,F1170,...,WINNERNUMBER_95_EVER,SIGNEDNUMBER_95_EVER,SUM_95_EVER,FLAG_DISQUALIFICATION,COUNT_CHANGE_YEAR,COUNT_CHANGE_EVER,BIRTHDATE,AGE,SEX_NAME,CITIZENSHIP_NAME
count,17891.000000,17891.000000,17891,17891.000000,17891.000000,6.936000e+03,1.420000e+03,6.341000e+03,3.460000e+02,1.499000e+03,...,6784.000000,6784.000000,6.784000e+03,5.0,239.000000,1509.000000,1419,1419.000000,2168,2128
unique,NaN,NaN,439,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,844,NaN,2,4
top,NaN,NaN,09JAN2019:00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,05MAR1987:00:00:00,NaN,мужской,Российская Федерация
freq,NaN,NaN,198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,125,NaN,1265,2124
mean,8946.000000,6630.652786,NaN,0.195629,0.413001,3.184582e+09,1.136357e+08,2.287078e+09,4.981780e+07,3.389027e+09,...,354.557341,323.424823,2.544790e+08,1.0,1.502092,2.325381,NaN,41.916843,NaN,NaN
std,5164.831169,3659.132885,NaN,0.396695,0.492387,3.062184e+10,9.413832e+08,2.016291e+10,2.561433e+08,2.076766e+10,...,1339.773863,1258.815709,1.140965e+09,0.0,1.511509,2.316937,NaN,10.769157,NaN,NaN
min,1.000000,1.000000,NaN,0.000000,0.000000,-1.820000e+05,1.000000e+03,1.000000e+03,-1.175000e+06,1.000000e+03,...,0.000000,0.000000,0.000000e+00,1.0,1.000000,1.000000,NaN,21.000000,NaN,NaN
25%,4473.500000,3452.000000,NaN,0.000000,0.000000,4.335000e+05,7.300000e+04,7.180000e+05,3.694000e+06,1.130000e+05,...,17.000000,12.000000,4.296130e+06,1.0,1.000000,1.000000,NaN,32.000000,NaN,NaN
50%,8946.000000,6560.000000,NaN,0.000000,0.000000,4.308000e+06,2.760000e+05,4.984000e+06,3.694000e+06,7.239000e+06,...,75.000000,58.000000,1.865707e+07,1.0,1.000000,2.000000,NaN,40.000000,NaN,NaN
75%,13418.500000,10080.000000,NaN,0.000000,1.000000,6.661650e+07,4.409500e+06,5.594400e+07,1.195650e+07,1.485000e+08,...,219.250000,176.250000,9.359097e+07,1.0,2.000000,2.000000,NaN,49.000000,NaN,NaN
max,17891.000000,12735.000000,NaN,1.000000,1.000000,1.250774e+12,1.342100e+10,8.783281e+11,2.989645e+09,2.833230e+11,...,24749.000000,22821.000000,3.813102e+10,1.0,13.000000,25.000000,NaN,78.000000,NaN,NaN

'Доля пустых строк:'

id_contract          False
id_client            False
SIGN_DATE            False
IP_flag              False
TARGET               False
                     ...
COUNT_CHANGE_EVER     True
BIRTHDATE             True
AGE                   True
SEX_NAME              True
CITIZENSHIP_NAME      True
Length: 124, dtype: bool

'Количество дублирующихся строк:'

0

In [9]:
test = pd.read_csv("test_dataset_hackathon_mkb.csv",encoding='cp1251', sep=';')

In [10]:
first_look(test)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7330 entries, 0 to 7329
Columns: 123 entries, id_contract to CITIZENSHIP_NAME
dtypes: float64(108), int64(3), object(12)
memory usage: 6.9+ MB

None

,id_contract,id_client,SIGN_DATE,IP_flag,F1100,F1110,F1150,F1160,F1170,F1180,...,WINNERNUMBER_95_EVER,SIGNEDNUMBER_95_EVER,SUM_95_EVER,FLAG_DISQUALIFICATION,COUNT_CHANGE_YEAR,COUNT_CHANGE_EVER,BIRTHDATE,AGE,SEX_NAME,CITIZENSHIP_NAME
0,17892,3620,08APR2019:00:00:00,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,17893,4101,08APR2019:00:00:00,0,1906000.0,NaN,1906000.0,NaN,NaN,NaN,...,7439.0,7100.0,1.187411e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,17894,9589,08APR2019:00:00:00,0,147000.0,NaN,147000.0,NaN,NaN,NaN,...,362.0,344.0,9.836260e+07,NaN,1.0,3.0,NaN,NaN,NaN,NaN
3,17895,11546,08APR2019:00:00:00,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,17896,12558,08APR2019:00:00:00,0,26000.0,NaN,NaN,NaN,26000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN

,id_contract,id_client,SIGN_DATE,IP_flag,F1100,F1110,F1150,F1160,F1170,F1180,...,WINNERNUMBER_95_EVER,SIGNEDNUMBER_95_EVER,SUM_95_EVER,FLAG_DISQUALIFICATION,COUNT_CHANGE_YEAR,COUNT_CHANGE_EVER,BIRTHDATE,AGE,SEX_NAME,CITIZENSHIP_NAME
count,7330.000000,7330.000000,7330,7330.000000,2.490000e+03,4.580000e+02,2.321000e+03,7.900000e+01,4.860000e+02,6.790000e+02,...,2306.000000,2306.000000,2.306000e+03,5.0,79.000000,487.000000,615,615.000000,1434,1431
unique,NaN,NaN,248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,485,NaN,2,4
top,NaN,NaN,27MAY2019:00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,01SEP1986:00:00:00,NaN,мужской,Российская Федерация
freq,NaN,NaN,112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,21,NaN,858,1427
mean,21556.500000,6625.300819,NaN,0.243247,1.173428e+09,6.875055e+07,7.290510e+08,4.316418e+07,1.604195e+09,9.530686e+07,...,232.701214,221.149610,2.288399e+08,1.0,1.139241,2.433265,NaN,43.427642,NaN,NaN
std,2116.133069,3580.337029,NaN,0.429072,1.736408e+10,6.453434e+08,9.419810e+09,2.633641e+08,1.398350e+10,4.181462e+08,...,710.966033,691.959633,1.430015e+09,0.0,0.635170,2.371635,NaN,11.080438,NaN,NaN
min,17892.000000,4.000000,NaN,0.000000,4.740000e+02,1.000000e+03,4.740000e+02,6.000000e+03,1.000000e+03,-1.830000e+05,...,0.000000,0.000000,0.000000e+00,1.0,1.000000,1.000000,NaN,23.000000,NaN,NaN
25%,19724.250000,3778.250000,NaN,0.000000,3.652500e+05,6.150000e+04,4.260000e+05,1.167000e+06,6.200000e+04,1.720000e+05,...,10.000000,9.000000,3.528744e+06,1.0,1.000000,1.000000,NaN,34.000000,NaN,NaN
50%,21556.500000,6758.500000,NaN,0.000000,3.014000e+06,4.360000e+05,3.039000e+06,3.592000e+06,8.805000e+05,1.277000e+06,...,50.000000,44.000000,1.813208e+07,1.0,1.000000,1.000000,NaN,42.000000,NaN,NaN
75%,23388.750000,9801.250000,NaN,0.000000,3.051525e+07,2.015425e+07,2.042800e+07,8.238000e+06,6.500200e+07,1.485150e+07,...,153.000000,146.000000,7.183648e+07,1.0,1.000000,3.000000,NaN,51.000000,NaN,NaN
max,25221.000000,12730.000000,NaN,1.000000,7.036810e+11,1.342100e+10,2.422931e+11,2.337998e+09,2.833230e+11,5.225112e+09,...,18481.000000,18045.000000,2.419410e+10,1.0,6.000000,13.000000,NaN,79.000000,NaN,NaN

'Доля пустых строк:'

id_contract          0.000000
id_client            0.000000
SIGN_DATE            0.000000
IP_flag              0.000000
F1100                0.660300
                       ...
COUNT_CHANGE_EVER    0.933561
BIRTHDATE            0.916098
AGE                  0.916098
SEX_NAME             0.804366
CITIZENSHIP_NAME     0.804775
Length: 123, dtype: float64

'Количество дублирующихся строк:'

0